import { Controller, Get, Injectable } from '@nemesisjs/common';
import type { RequestContext } from '@nemesisjs/http';
import { AppService } from './app.service';

@Controller('/')
export class AppController {
  constructor(private readonly appService: AppService) {}

  @Get('/')
  getHello(ctx: RequestContext) {
    return ctx.json({ message: this.appService.getHello() });
  }
}
