import { describe, it, expect } from 'bun:test';
import { {{pascalName}}Module } from './{{kebabName}}.module';

describe('{{pascalName}}Module', () => {
  it('should be defined', () => {
    expect({{pascalName}}Module).toBeDefined();
  });
});
