import { Injectable } from '@nemesisjs/common';

@Injectable()
export class {{pascalName}}Service {
  findAll() {
    return [];
  }

  findOne(id: string) {
    return { id };
  }

  create(data: any) {
    return { ...data, id: crypto.randomUUID() };
  }

  update(id: string, data: any) {
    return { ...data, id };
  }

  remove(id: string) {
    return { id, deleted: true };
  }
}
